
#ani {
	background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;		
      animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}