
@media screen and (max-width: 768px) { 

    html, body{
        font-family: 'Noto Sans KR',
        sans-serif;
        font-size: 62.5%;
        line-height: 1.285;
        width: 100%;
    }

    .menu{
        position: fixed;
        width: 50vw;
        height: 70px;
        top: 0; left: 0;
        z-index: 50;
    }

    .header{
        width: 100%;
        margin: 0 auto;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 80px;
        top: 0; left: 0;
        z-index: 50;
    }
    
    .header{
        width: 100%;
        margin: 0 auto;
    }
    
    .h1_wrap{
        position: absolute;
        padding-left: 20px;
        float: left;
        z-index: 100;
    }
    
    .h1_wrap > h1 > a{
        display: block;
        text-align: center;
        line-height: 80px;
        font-size: 2.3rem;
        color: #fff;
    }

    /* menu */
    #nav{
        position: fixed;
        background: #444;
        top: 0;left: 0;
        width: 100vw;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.35s, visibility 0.35s, height 0.35s;
        overflow: hidden;
    }
    #nav.open {
        opacity: 0.9;
        visibility: visible;
        height: 100vh;
    }
    #nav.open ul li{
        animation: fadeInRight 0.5s ease forwards;
        animation-delay: 0.35s;
    }
    #nav.open li:nth-of-type(2) {
        animation-delay: 0.4s;
    }
    #nav.open li:nth-of-type(3) {
        animation-delay: 0.45s;
    }
    #nav.open li:nth-of-type(4) {
        animation-delay: 0.5s;
    }

    .gnb{
        position: relative;
        width: 100vw;
        font-size: 2rem;
        text-align: center;
        display: flex;
        list-style: none;
        align-items: center;
        margin-top: 100px;
        justify-content: center;
        padding: 0;
        flex-direction: column;
    }
    .gnb li {
        display: block;
        width: 100%;
        float: left;
        z-index: 100;
        position: relative;
        height: calc(100% / 4);
        opacity: 0;
    }
    .gnb > li > a {
        display: block;
        width: 100%;
        position: relative;
        color: #fff;
        text-decoration: none;
        overflow: hidden;
        transition: all 0.4s;
        margin-top: 20px;
        line-height: 70px;
    }

    .gnb > li > a:hover{
        background: #fff;
        color: #dd4e1a;
        font-size: 20px;
        font-weight: bold;
    }

    .gnb li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
        width: 100%;
    }

    .gnb li a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        transform: translateX(-50%);
        height: 3px;
        transition: 0.35s;
    }

    .lnb li {
        height: 50px;
    }

    .lnb a{
        display: block;
        height: 50px;
        color: #fff;
        transition: all 0.5s;
        font-size: 15px;
        font-weight: 400;
        line-height: 50px;
    }

    .lnb a:hover{
        background: #eee;
        color:  #dd4e1a;
        font-size: 17px;
        font-weight: bold;
    }


    @keyframes fadeInRight {
        0% {
          opacity: 0;
          left: 20%;
        }
        100% {
          opacity: 1;
          left: 0;
        }
    }
    
        /* scroll arrow */
    
        .scroll {
            position: absolute;
            margin: 0 auto;
            bottom: 10%;
            width: 12px;
            height: 12px;
            transform: rotate(45deg);
            border-right: 3px solid red;
            border-radius: 2px;
            border-bottom: 3px solid red;
            animation: arrow-wave 1s infinite;
            animation-direction: alternate;
        }
        
        .scroll:nth-child(1){
            animation-delay: 0.1s;
        }
        .scroll:nth-child(2){
            animation-delay: 0.2s;
        }
          
        @keyframes arrow-wave {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 0.4;
            }
            100% {
              opacity: 1;
            }
        }


    /* button */

    input[id="m_btn"]{
        display: none;
        float: right;
        z-index: 100;
    }

    input[id="m_btn"]+label{
        display: block;
        float: right;
        width: 30px;
        height: 20px;
        margin: 30px 20px 30px 0;
        position: relative;
        cursor: pointer;
    }

    input[id="m_btn"]+label span{
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        transition: all .35s;
    }

    input[id="m_btn"]+label span:nth-child(1){
        top: 0;
    }

    input[id="m_btn"]+label span:nth-child(2){
        top: 50%;
        transform: translateY(-50%);
    }

    input[id="m_btn"]+label span:nth-child(3){
        bottom: 0;
    }

    input[id="m_btn"]:checked+label span:nth-child(1){
        top: 50%;
        transform: translateY(-50%) rotate(40deg);
    }

    input[id="m_btn"]:checked+label span:nth-child(2){
        opacity: 0;
    }

    input[id="m_btn"]:checked+label span:nth-child(3){
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }

    /* section */

    .section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 50px);
    }

    /* sec1 */
    .section1{
        max-height: 100vh;
        background: #222;
        /* padding: 160px 0; */
    }

    .sec1_wrap{
        width: 80%;
        margin: 0 auto;
    }

    .sec1_text{
        text-align: center;
    }
    
    .sec1_text h3{
        font-size: 2.4rem;
        line-height: 40px;
        color: #fff;
        margin-bottom: 40px;
    }

    .sec1_text p{
        margin: auto;
        width: 80%;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 30px;
        color: #fff;
    }

    .sec1_text p button{
        width: 160px;
        height: 65px;
        margin-top: 50px;
        border-radius: 50px;
        border-style: solid;
        border-width: 3px;
        border-color: #fff;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
        animation: text-shadow 3s ease-in-out infinite;
    }

    /* sec1 button animated */
    @keyframes text-shadow {
        0% {  
            transform: translateY(0);
            text-shadow: 
                0 0 0 #fb203b;
        }
    
        20% {  
            transform: translateY(-1em);
            text-shadow: 
                0 -0.2em 0 #fb203b;
        }
    
        40% {  
            transform: translateY(0.5em);
            text-shadow: 
                0 0.08em 0 #fb203b;
        }
        
       60% {
            transform: translateY(-0.25em);
            text-shadow: 
                0 -0.04em 0 #fb203b;
        }
    
        80% {  
            transform: translateY(0);
            text-shadow: 
                0 0 0 #fb203b;
        }
    }

    /* sec2 */

    .section2{
        width: 80%;
        margin: 0 auto;
    
    }

    .sec2-1 h3 {
        font-size: 3.5em;
        color: #888;
    }

    .sec2-1 img{
        width: 300px;
    }

}