
@media screen and (max-width: 1024px) { 

    html, body{
        font-family: 'Noto Sans KR',
        sans-serif;
        font-size: 62.5%;
        line-height: 1.285;
        width: 100%;
        overflow: visible;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 70px;
        top: 0; left: 0;
        z-index: 50;
    }

    .header{
        width: 100%;
        margin: 0 auto;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 80px;
        top: 0; left: 0;
        z-index: 50;
    }
    
    .header{
        width: 100%;
        margin: 0 auto;
    }
    
    .h1_wrap{
        position: absolute;
        padding-left: 20px;
        float: left;
        z-index: 100;
    }
    
    .h1_wrap > h1 > a{
        display: block;
        text-align: center;
        line-height: 80px;
        font-size: 2.3rem;
        color: #fff;
    }

    /* menu */
    #nav{
        position: fixed;
        background: #444;
        top: 0;left: 0;
        width: 100vw;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.35s, visibility 0.35s, height 0.35s;
        overflow: hidden;
    }
    #nav.open {
        opacity: 0.9;
        visibility: visible;
        height: 100vh;
    }
    #nav.open ul li{
        animation: fadeInRight 0.5s ease forwards;
        animation-delay: 0.35s;
    }
    #nav.open li:nth-of-type(2) {
        animation-delay: 0.4s;
    }
    #nav.open li:nth-of-type(3) {
        animation-delay: 0.45s;
    }
    #nav.open li:nth-of-type(4) {
        animation-delay: 0.5s;
    }

    .gnb{
        position: relative;
        width: 100%;
        font-size: 2rem;
        text-align: center;
        display: flex;
        list-style: none;
        align-items: center;
        margin-top: 100px;
        justify-content: center;
        padding: 0;
        flex-direction: column;
    }
    .gnb li {
        display: block;
        width: 100%;
        float: left;
        z-index: 100;
        position: relative;
        height: calc(100% / 4);
        opacity: 0;
    }
    .gnb > li > a {
        display: block;
        width: 100%;
        position: relative;
        color: #fff;
        text-decoration: none;
        overflow: hidden;
        transition: all 0.4s;
        margin-top: 20px;
        line-height: 70px;
    }

    .gnb > li > a:hover{
        background: #fff;
        color: #8577ff;
        font-size: 20px;
        font-weight: bold;
    }

    .gnb li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
        width: 100%;
    }

    .gnb li a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        transform: translateX(-50%);
        height: 3px;
        transition: 0.35s;
    }

    .lnb li {
        height: 50px;
    }

    .lnb a{
        display: block;
        height: 50px;
        color: #fff;
        transition: all 0.5s;
        font-size: 15px;
        font-weight: 400;
        line-height: 50px;
    }

    .lnb a:hover{
        background: #eee;
        color:  #8577ff;
        font-size: 17px;
        font-weight: bold;
    }


    @keyframes fadeInRight {
        0% {
          opacity: 0;
          left: 20%;
        }
        100% {
          opacity: 1;
          left: 0;
        }
    }
    
        /* scroll arrow */
    
        .scroll {
            position: absolute;
            margin: 0 auto;
            bottom: 13%;
            width: 12px;
            height: 12px;
            transform: rotate(45deg);
            border-right: 3px solid #8577ff;
            border-radius: 2px;
            border-bottom: 3px solid #8577ff;
            animation: arrow-wave 1s infinite;
            animation-direction: alternate;
        }
        
        .scroll:nth-child(1){
            animation-delay: 0.1s;
        }
        .scroll:nth-child(2){
            animation-delay: 0.2s;
        }
          
        @keyframes arrow-wave {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 0.4;
            }
            100% {
              opacity: 1;
            }
        }


    /* button */

    input[id="m_btn"]{
        display: none;
        float: right;
        z-index: 100;
    }

    input[id="m_btn"]+label{
        display: block;
        float: right;
        width: 30px;
        height: 20px;
        margin: 30px 20px 30px 0;
        position: relative;
        cursor: pointer;
    }

    input[id="m_btn"]+label span{
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        transition: all .35s;
    }

    input[id="m_btn"]+label span:nth-child(1){
        top: 0;
    }

    input[id="m_btn"]+label span:nth-child(2){
        top: 50%;
        transform: translateY(-50%);
    }

    input[id="m_btn"]+label span:nth-child(3){
        bottom: 0;
    }

    input[id="m_btn"]:checked+label span:nth-child(1){
        top: 50%;
        transform: translateY(-50%) rotate(40deg);
    }

    input[id="m_btn"]:checked+label span:nth-child(2){
        opacity: 0;
    }

    input[id="m_btn"]:checked+label span:nth-child(3){
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }

    /* section */

    .section{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    /* sec1 */
    .section1{
        position: relative;
        justify-content: center;
        align-items: center;
        max-height: 100vh;
        background: #222;
        /* padding: 160px 0; */
    }
    

    .sec1_wrap{
        width: 80%;
        margin: 0 auto;
    }

    .sec1_text{
        text-align: center;
    }
    
    .sec1_text h3{
        font-size: 2.4rem;
        line-height: 40px;
        color: #fff;
        margin-bottom: 40px;
    }

    .sec1_text p{
        margin: auto;
        width: 80%;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 30px;
        color: #fff;
    }

    .sec1_text p button{
        width: 160px;
        height: 65px;
        margin-top: 50px;
        border-radius: 50px;
        border-style: solid;
        border-width: 3px;
        border-color: #fff;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
        animation: text-shadow 3s ease-in-out infinite;
    }

    /* sec1 button animated */
    @keyframes text-shadow {
        0% {  
            transform: translateY(0);
            text-shadow: 
                0 0 0 #fb203b;
        }
    
        20% {  
            transform: translateY(-1em);
            text-shadow: 
                0 -0.2em 0 #fb203b;
        }
    
        40% {  
            transform: translateY(0.5em);
            text-shadow: 
                0 0.08em 0 #fb203b;
        }
        
       60% {
            transform: translateY(-0.25em);
            text-shadow: 
                0 -0.04em 0 #fb203b;
        }
    
        80% {  
            transform: translateY(0);
            text-shadow: 
                0 0 0 #fb203b;
        }
    }

    /* sec2 */

    .section2{
        position: relative;
        justify-content: center;
        align-items: center;
        width: 85%;
        margin: 10px auto;
    }

    .sec2_wrap{
        margin: 0 auto;
        width: 100%;
    }

    .sec2_wrap h3 {
        font-size: 3.5em;
        margin-top: 50px;
    }    
    .sec2_wrap h3::after{
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0px 0px 0px 10px;
        border-radius: 9px;
        background-color: #8577ff;
    }

    .sec2_wrap img{
        width: 150px;
        height: 210px;
    }

    .profile_Skill{
        display: none;
    }

    .profile_Main{
        display: inline-block;
        width: 40%;
        margin: 10px;
    }

    .profile_Main p{
        color: #444;
        font-size: 1.1rem;
        line-height: 18px;
    }

    .p_Name h4{
        color: #8577ff;
        font-size: 1.8rem;
        margin: 10px 0 10px 0;
    }

    .profile_text{
        font-size: 1.1rem;
        line-height: 18px;
        margin: 10px 0 10px 0;
    }

    .p_my{
        display: inline-block;
        padding: 10px
    }

    .p_my h4{
        color: #444;
        font-size: 1.6rem;
        margin-bottom: 15px;
    }

    .p_my strong{
        margin-right: 15px;
    }

    

    /* sec3 */

    .section3{
        justify-content: center;
        align-items: center;
        width: 85%;
        margin: 0 auto;
    }

    .sec3_wrap{
        width: 100%;
    }

    .s3_title {
        font-size: 3.5em;
        margin-bottom: 20px;
        /* line-height: 3.7rem; */
    }

    .s3_title:after {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0px 0px 0px 10px;
        border-radius: 9px;
        background-color: #8577ff;
    }

    /* sec4 */

    .section4{
        justify-content: center;
        align-items: center;
        width: 85%;
        margin: 0 auto;
    }

    .s4_title{
        font-size: 3.5em;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .s4_title:after {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0px 0px 0px 10px;
        border-radius: 9px;
        background-color: #8577ff;
    }

    .sec4_wrap{
        width: 100%;
    }

    /* sec5 */

    .section5{
        justify-content: center;
        align-items: center;
        width: 85%;
        margin: 0 auto;
        position: relative;
    }

    .sec5_wrap{
        display: block;
        width: 100%;
        position: absolute;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }

    .sec5_wrap h2{

        position: relative;
        font-size: 3.2rem;
        font-weight: 600;
        letter-spacing: 0.5rem;
    }

    .sec5_wrap h2:after {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0px 0px 0px 10px;
        border-radius: 9px;
        background-color: #8577ff;
    }

    .sec5_wrap h3{
        position: relative;
        color: #888;
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .sec5_wrap h3 strong{
        color: #777;
        font-weight: 600;
        margin-right: 25px;
    }
    .sec5_wrap img{
        margin: 30px auto;
        width: 250px;
        height: 250px;
        display: block;
    }

    .sec5_wrap input{
        width: 30px;
        height: 30px;
        padding: 5px;
        border: 1.5px solid #8577ff;
        border-radius: 5px;
        background-image: url(../image/content_copy_FILL0_wght400_GRAD0_opsz24.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 10px;
        transform: translateY(30%);        
    }

    footer p{
        margin-top: 90px;
        color: #777;
        bottom: 0%;
    }

    /* design */
    .design_sec{
        width: 100%;
        height: 100%;
        background: #1c1b1f;
        justify-content: center;
        align-items: center;
    }

    .D_wrap{
        position: relative;
        display: block;
        margin: auto;
        width: 80%;
        height: 80%;
        transform: translateY(15%);
    }
    
    .design_sec h3{
        text-align: center;
        font-size: 2.8rem;
    }

    .design_sec h3:after {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0px 0px 0px 10px;
        border-radius: 9px;
        background-color: #8577ff;
    }

    .design_sec button{
        display: block;
        width: 80%;
        height: 80px;
        margin: 40px auto;
        border-radius: 50px;
        border-style: solid;
        border-width: 3px;
        border-color: #fff;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 500;
        font-family: 'Noto Sans KR',
        sans-serif;
    }

}