@charset "utf-8";

html, body{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
}

/* menu */

.menu{
    /* border: 1px solid red; */
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0; left: 0;
    z-index: 80;
}

.h1_wrap{
    position: static;
    width: 142px; height: 80px;
    float: left;
    top: 0; left: 0;
    z-index: 100;
    /* border: 1px solid red; */
    border-bottom: none;
}

h1{
    position: static;
    width:100%;
    height:100%;
}   

h1 > a {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 80px;
    font-size: 1.4em;
    color: #fff;
}

.gnb_wrap{
    width: 100%;
    height:100%;
    margin: 0 auto;
    text-align: center;
}

.gnb{
    width: 600px;
    position: absolute;
    top: 0; left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* border: 1px solid black; */
}

.gnb > li{
    float: left;
    display: block;
}

.gnb > li > a{
    display: inline-block;
    width: 150px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.4s;
    color: #fff;
    /* border: 1px solid black; */
}

.gnb > li > a:hover{
    background: #fff;
    color: #dd4e1a;
    font-size: 20px;
    font-weight: bold;
}

.lnb{
    display: none;
}

.lnb a{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    transition: all 0.5s;
    font-size: 14px;
    font-weight: 500;
}

.lnb a:hover{
    background: #eee;
    color: #111;
    font-size: 16px;
    font-weight: bold;
}

/* section1 */

.section{
    display: block;
    width: 100%;
    height: 800px;
}

.section1{
    width: 100%;
    background: url(../image/main_cover_대지\ 1.jpg) no-repeat center/cover;
    padding: 200px 0;
}

.sec1_wrap{
    width: 70%;
    margin: 0 auto;

}

.sec1_text{
    width: 100%;
    /* height: 200px; */
    /* margin-top: 100px; */
    float: left;
}

.sec1_text h3:after {
    content: "";
    /* display: inline-block; */
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 9px;
    margin: 35px 0 0 10px;
    background-color: #fff;
}

.sec1_text h3{
    font-size: 4.5em;
    margin-bottom: 60px;
    line-height: 100px;
    color: #fff;
}

.sec1_text p{
    width: 70%;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
}

/* sec2 */

.sec2-1 {
    width: 60%;
    height: 200px;
    margin-top: 200px;
    float: right;
  }

  .sec2-1 h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }


/* section3 */

.slide_title{
    position: absolute;
    width: 100%;
    height: 50px;
    /* border: 1px solid #333; */
    margin-top: 110px;
    line-height: 50px;
    text-align: center;
}

.slide_title h3{
    font-size: 25px;
    font-weight: bold;
}

.slider{
    width: 40%;
    padding: 180px 0 0 0 ;
    margin: 0px auto;
    /* border: 5px solid #333; */
    position: relative;
}

img {
    width: 100%;
    cursor: pointer;
    padding: 10px;
}

  
.prev{
    width: 30px;
    height: 30px;
    background: url(../arrow/left-arrow.png) no-repeat center/cover;
    cursor: pointer;

    position: absolute;
    bottom: 40%; left: -20%;
    transform: translateY(50%);

}

.next{
    width: 30px;
    height: 30px;
    background: url(../arrow/right-arrow.png) no-repeat center/cover;
    cursor: pointer;

    position: absolute;
    bottom: 40%; right: -20%;
    transform: translateY(50%);

}

.slick-dots li{
    width: 25px !important;
}

.section4{
    background: #eee;
}