@charset "utf-8";

html, body{
    font-family: 'Noto Sans KR',
    sans-serif;
    font-size: 16px;
    width: 100%;
}


/* menu */

.menu{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0; left: 0;
    z-index: 50;
}

.header{
    width: 100%;
    margin: 0 auto;
}

.h1_wrap{
    position: absolute;
    padding-left: 20px;
    float: left;
    z-index: 100;
}

.h1_wrap > h1 > a{
    display: block;
    text-align: center;
    line-height: 80px;
    font-size: 1em;
    color: #fff;
}

.gnb_wrap{
    width: 100%;
}

.gnb{
    position: relative;
    width: 600px;
    top: 0; left: 50%;
    text-align: center;
    transform: translateX(-50%);
    list-style: none;
    
}

.gnb > li{
    float: left;
    z-index: 100;
}

.gnb > li >a {
    display: block;
    width: 150px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.4s;
    color: #fff;
}

.gnb > li > a:hover{
    background: #fff;
    color: #dd4e1a;
    font-size: 20px;
    font-weight: bold;
}

.lnb a{
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    transition: all 0.5s;
    font-size: 14px;
    font-weight: 500;
}

.lnb a:hover{
    background: #eee;
    color:  #dd4e1a;
    font-size: 16px;
    font-weight: bold;
}

#m_btn{
    display: none;
}

/* scroll arrow */

.scroll {
    position: absolute;
    margin: 0 auto;
    bottom: 7%;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border-right: 3px solid white;
    border-radius: 2px;
    border-bottom: 3px solid white;
    animation: arrow-wave 1s infinite;
    animation-direction: alternate;
}

.scroll:nth-child(1){
    animation-delay: 0.1s;
}
.scroll:nth-child(2){
    animation-delay: 0.2s;
}
  
@keyframes arrow-wave {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
}


/* section1 */

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
}

.section1{
    width: 100%;
    height: 900px;
    background: url(../image/main_cover_대지\ 1.jpg) no-repeat center/cover;
    /* padding: 160px 0; */
}


.sec1_wrap{
    width: 80%;
    margin: 0 auto;
        
}

.sec1_text h3:after {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 9px;
    background-color: #fff;
}

.sec1_text h3{
    font-size: 2.3em;
    margin-bottom: 10px;
    line-height: 60px;
    color: #fff;
    
}

.sec1_text p{
    width: 80%;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
}

.sec1_text p button{
    width: 160px;
    height: 65px;
    margin-top: 30px;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: #fff;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
}

/* sec2 */

.sec2-1 {
    width: 1000px;
    height: 500px;
    margin-bottom: 30px;
    border: 2px outset #ddd;
    border-radius: 300px;
}

.sec2-1 h3 {
    font-size: 3.5em;
    color: #888;
}

.sec2-1 img{
    margin: 20px 0 0px 50px;
    float: left;
    width: 300px;
}




.section4{
    background: #eee;
}