@charset "utf-8";

html, body{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
}


/* menu */

.menu{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0; left: 0;
    z-index: 50;
}

.header{
    width: 100%;
    margin: 0 auto;
}

.h1_wrap{
    position: absolute;
    padding-left: 20px;
    float: left;
    z-index: 100;
}

.h1_wrap > h1 > a{
    display: block;
    text-align: center;
    line-height: 80px;
    font-size: 1.4em;
    color: #fff;
}

.gnb_wrap{
    float: right;
}

.gnb{
    list-style: none;
    margin: 0; padding: 0;
    
}

.gnb > li{
    float: left;
    padding-right: 20px;
    position: relative;
    z-index: 100;
}

.gnb > li >a {
    display: block;
    width: 150px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.4s;
    color: #fff;
}

.gnb > li > a:hover{
    background: #fff;
    color: #dd4e1a;
    font-size: 20px;
    font-weight: bold;
}

.lnb a{
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transition: all 0.5s;
    font-size: 14px;
    font-weight: 500;
}

.lnb a:hover{
    background: #eee;
    color:  #dd4e1a;
    font-size: 16px;
    font-weight: bold;
}

input[id="m_btn"]{
    display: none;
}


/* section1 */

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
}

.section1{
    width: 100%;
    background: url(../image/main_cover_대지\ 1.jpg) no-repeat center/cover;
    padding: 180px 0;
}

.sec1_wrap{
    width: 80%;
    margin: 0 auto;

}

.sec1_text{
    width: 100%;
    float: left;
    font-size: 16px;
}

.sec1_text h3:after {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 9px;
    margin: 35px 0 0 10px;
    background-color: #fff;
}

.sec1_text h3{
    font-size: 3em;
    margin-bottom: 50px;
    line-height: 90px;
    color: #fff;
}

.sec1_text p{
    width: 75%;
    font-size: 1em;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
}

.sec1_text p button{
    width: 160px;
    height: 65px;
    margin-top: 30px;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: #fff;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
}

/* sec2 */

.sec2-1 {
    width: 1000px;
    height: 500px;
    margin-bottom: 30px;
    border: 2px outset #ddd;
    border-radius: 300px;
}

.sec2-1 h3 {
    font-size: 3.5em;
    color: #888;
}

.sec2-1 img{
    margin: 20px 0 0px 50px;
    float: left;
    width: 300px;
}




.section4{
    background: #eee;
}